/*
Theme Name: Blogismo
Author: DJMiMi
Theme URI: http://themeforest.net/user/DJMiMi
Author URI: http://themeforest.net/user/DJMiMi
License: GPL 2.0
License URI: license.txt
Description:  Clean and powerfull timeline bloggig theme
Version: 1.2
Tags: light
*/


/***********************************
TABLE OF CONTENTS:

1. OVERALL STYLING
2. TABLES
3. BUTTON
4. POST ITEM
5. POST META
6. POST BLOCKS
7. TOP BAR
8. NAVIGATION
9. COMMENTS
10. WIDGETS
11. SUBMIT FORMS
12. SINGLE POST SHARE
13. ABOUT AUTHOR
14. NEXT PREV POSTS
15. VIDEO CONTAINER
16. LOADER
17. PAGINATION
18. GALLERY
19. MAIN SEARCH

*************************************/

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

/* 1. OVERALL STYLING */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ir { display:block; text-indent:9999px; overflow:hidden; }
.nomargin { margin:0!important; }

body {
	font-size: 100%;
	font-family: "Roboto Slab", sans-serif;
	color: #6b6b6b;
	font-size: 16px;
	line-height: 30px;
	background-color: #ffffff;
	overflow-x: hidden;
	position:relative;
}

.ajax-container .row{
	background-color: #454545;
}

a, a:hover, a:focus, a:active, a:visited{
	color: #95B045;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;	
}

.grey-link{
	color: #6b6b6b;
}

.dropcap{
	font-size: 60px;
	line-height: 60px;
	font-weight: bold;
	padding-right: 10px;
	float: left;
}

img{
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;	
}

.break-word{
	word-break: break-all;
}

select{
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6{	
	margin: 10px 0px;
	font-weight: 700;
	line-height: 1.25;
	color: #454545;
	font-family: "Roboto Slab",sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
    font-size: 18px;
}

blockquote{
	font-size: 20px;
	font-style: italic;
	border-left: 5px solid #95B045;
	padding-left: 20px;
	margin-bottom: 20px;
}

cite{
	font-size: 16px;
	font-style: normal;
	text-align: right;
	display: block;
}

.send_result .alert{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

p{
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 25px;
}

section{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.even{
	background-color: #fbfbfb;
	margin: 50px 0px;
	padding: 50px 0px;
}

/* END OVERALL STYLING */

/* 2. TABLES */
table{
	width: 100%;
	border: 1px solid #eeeeee;
	margin: 15px 0px;
}

hr{
	border-color: #eeeeee;
}

.line-divider{
	margin-top: 55px;
	margin-bottom: 45px;
}

table th{
	text-align: center;
	background: #95B045;
	color: #ffffff;
	font-size: 13px;
	padding: 5px;
}

table th a, table th a:hover, table th a:focus, table th a:active, table th a:visited{
	color: #ffffff;
}

table td{
	border: 1px solid #eeeeee;
	text-align: center;
	font-size: 13px;
	padding: 5px;
}
/* END TABLES */

/* 3. BUTTON */
.tagcloud a, .btn, a.btn{
	word-break: break-all;
	padding: 6px 12px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: none;
	background: #95B045;
	color: #ffffff;
	display: inline-block;
	white-space: normal;
}
.tagcloud a:hover, .tagcloud a:focus, .tagcloud a:active,
.btn:hover, .btn:focus, .btn:active{
	border: none;
	background: #454545;
	color: #ffffff;
}
.tagcloud a{
	padding: 0px 10px;
	margin: 2px 0px;
}

/* END BUTTON */

/* 4. POST ITEM */
.post-item{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	padding: 20px;
	min-height: 33.33vw;
	height: auto;
	background-size: cover; 
	background-position: center center;
	color: #ffffff;
}

.post-item .btn { display:none; position:absolute; top:20px; left:20px; bottom:20px; right:20px; z-index:10; background:#000; filter:alpha(opacity=80); background:rgba(0,0,0,.8); }
.post-item .btn:before { display:block; content:""; width:72px; height:72px; position:absolute; top:50%; left:50%; margin:-36px 0 0 -36px; background:url(images/sprite.png) -110px 0 no-repeat; }

.post-item:before{
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 2;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.post-item:hover:before{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.post-item-overlay{
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	padding: 20px;
	background: #000000;
	opacity: 0.35;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.post-item .post-title h2{
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.post-item-content{
	padding: 40px;
	text-align: center;
	display: block;
	position: relative;
	z-index: 2;
}

.sticky-fa{
	display: block;
	transform: rotate( 30deg );
	-moz-transform: rotate( 30deg );
	-webkit-transform: rotate( 30deg );
}

.post-item-content p{
	margin: 0px;
	margin-bottom: 15px;
}

@media only screen and ( min-width: 768px ){
	.post-item-content{
		-webkit-transition: all 0.4s linear;
		-moz-transition: all 0.4s linear;
		-ms-transition: all 0.4s linear;
		-o-transition: all 0.4s linear;
		position: absolute;
		padding: 0px 40px;
		margin: 0;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%); /* IE 9 */
		-webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
	}
}

.post-item-content a, .post-item-content a:visited, .post-item .post-title h2{
	color: #ffffff;
}
.post-item-content a:hover, .post-item .post-title:hover h2{
	color: #cdcdcd;
}


/* END POST ITEM */

/* 5. POST META */
.post-meta{
	padding-top: 10px;
}

.post-meta li{
	display: block;
	margin-right: 10px;
}

.post-meta li .fa{
	margin-right: 2px;
}

.post-meta{
	font-size: 13px;
	line-height: 23px;
	color: #6b6b6b;
}

.post-meta-single{
	font-size: 16px;
	line-height: 26px;
}

@media only screen and (max-width: 768px){
	.post-meta-single{
		text-align: center;
	}
}

.post-meta a, .post-meta a:visited, .post-tags a, .post-tags a:visited{
	color: #6b6b6b;
}

.post-meta-single, .post-meta-single a, .post-meta-single a:visited{
	color: #ffffff;
}

.post-meta a:hover, .post-tags a:hover{
	color: #95B045;
}
/* END POST META */

/* 6. POST BLOCKS */
.post-title{
	margin: 0px;
	display: inline-block;
}

.post-title h2{
	margin: 0px;
}

.post-title:hover h2{
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	color: #95B045;
}

.post-content{
	margin: 50px 0px 30px 0px;
}

.post-content img{
	max-width: 100%;
	height: auto;
}

.content-padding{
	padding: 30px;
}

/* END POST BLOCKS */


/* 7. TOP BAR */
.top-bar{
	padding: 30px 0px;
	position: relative;
	/*background-color: none;*/
	background-color: #666666;
	background-attachment: fixed;
	background-position: top center;
	background-size: cover !important;
	min-height: 100vh;
}

.top-bar-overlay{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0.7;
	background: #000000;
}

.blog-title{
	position: relative;
	text-align:center;
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.2 );
}

@media (min-width:995px) {
	.navbar-collapse { padding-right:0!important; }
	#navigation .nav.navbar-nav > li > a { width:218px!important; }
	#navigation .nav.navbar-nav > li:last-child > a { width:50px!important; }
}

@media only screen and (min-width: 768px){
	/*.blog-title{	
		position: absolute;
		padding: 0px 10px;
		margin: 0;
		top: 50%;
		width: 100%;
		left: 50%;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%); /* IE 9 
		-webkit-transform: translate(-50%,-50%);  Safari and Chrome
	}*/
	.navbar-collapse { padding-right:0!important; }
	#navigation .nav.navbar-nav > li > a { width:163px; }
	#navigation .nav.navbar-nav > li:last-child > a { width:50px; }
}
.blog-title h1{
	margin: 2px 0px;
	color: #ffffff;
	font-size: 72px;
}

@media only screen and (max-width: 768px){
	.blog-title h1{
		font-size: 52px;
	}
}

@media only screen and (max-width: 240px){
	.blog-title h1{
		font-size: 42px;
	}
}

.blog-title small{
	text-transform: uppercase;
}
.main-share{
	margin: 0px;
}
.main-share li{
	list-style: none;
	display: inline-block;
}
.main-share .share{
	border: 1px solid #ffffff;
	width: 35px;
	height: 35px;
	line-height: 34px;
	color: #ffffff;
	text-align: center;
	display: inline-block;	
}
/* END TOP BAR */


/*  8. NAVIGATION */
#navigation .dropdown-menu{
	margin:0px;	
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.nav.navbar-nav > li > .dropdown{
	margin-top: 2px;
}

.navbar li.dropdown ul li.dropdown ul{
	left: 100%;
	top: 0px;
}
.navbar li{
	margin-bottom: 0px;
}

.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	background: transparent;	
	min-height: 0px;
}

.navbar-collapse{
	padding-left: 0px;
	border: none;
}

.nav.navbar-nav li a{
	font-size: 14px;
	color: #6b6b6b;
	text-transform: uppercase;
}

.nav.navbar-nav > li{
	margin: 0px 3px;
}

.nav.navbar-nav > li li{
	border-bottom: 1px solid #eeeeee;
}

#navigation .nav.navbar-nav > li > a{
	background: transparent;
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.2 );
}

#navigation .nav.navbar-nav > li{
	margin: 0px;
	transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	border-bottom: 3px solid #ffffff;
}

@media only screen and (min-width: 768px){
	#navigation .nav.navbar-nav > li{
		border-top: 3px solid #ffffff;
		margin-top: -3px;
		margin-bottom: -3px;
	}
}

#navigation .nav.navbar-nav > li.open,
#navigation .nav.navbar-nav > li:hover,
#navigation .nav.navbar-nav > li:focus,
#navigation .nav.navbar-nav > li:active,
#navigation .nav.navbar-nav > li.current,
#navigation .navbar-nav > li.current-menu-parent, #navigation  .navbar-nav > li.current-menu-ancestor, #navigation  .navbar-nav > li.current-menu-item{
	border-color: #95B045;
}

.nav.navbar-nav ul li.open > a,
.nav.navbar-nav ul li.open > a:hover,
.nav.navbar-nav ul li.open > a:focus,
.nav.navbar-nav ul li.open > a:active,
.nav.navbar-nav ul li.current > a,
.navbar-nav ul li.current-menu-parent > a, .navbar-nav ul li.current-menu-ancestor > a, .navbar-nav ul li.current-menu-item  > a{
	color: #95B045;
	background: #ffffff;
}

.nav.navbar-nav ul{
	padding: 0px;
	border-radius: 0px;
	border: none;
}

.nav.navbar-nav ul li a{
	padding: 10px 15px;
	position: relative;
}

.nav.navbar-nav ul li a:hover{
	color: #95B045;
	background: #ffffff;
}

.navbar-toggle{
	color: #95B045;
	line-height: 15px;
	float: none;
	vertical-align: middle;
}

@media only screen and (max-width: 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		background: #ffffff;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:active
	.navbar-default .navbar-nav .open .dropdown-menu > li.current > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li.current-menu-ancestor > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li.current-menu-item > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li.current-menu-parent > a{
		color: #95B045;
		background: #ffffff;
	}
	
	.navbar-nav .open .dropdown-menu > li > a{
		padding: 5px 15px;
	}
	
	.nav.navbar-nav > li > a{
		line-height: 20px;
	}
	#navigation{
		text-align: center;
	}
	#navigation .navbar-nav li a{
		text-align: center;
	}
}
@media only screen and (min-width: 768px){
	.navbar{
		border-top: 3px solid #ffffff;
		border-bottom: 3px solid #ffffff;
	}
}

@media only screen and (min-width: 768px){
	.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	}

	.navbar .navbar-collapse {
	text-align: center;
	}
}

.current-caret{
	position: absolute;
	left: 0px;
	top: 11px;
	font-size: 20px;
}
/* END NAVIGAION */



.to_top.btn{
	position: fixed;
	right: 15px;
	bottom: 15px;
	display: none;
	z-index: 3;
	-webkit-transform: translate3d(0,0,0);
}

.no-padding{
	padding: 0px;
}

.no-bottom-margin{
	margin-bottom: 0px;
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    max-width: 100%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* 9. COMMENTS */
.comment-avatar{
	width: 65px;
	height: 65px;
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}
.comment-reply-link, .comment-reply-link:visited{
	float: right;
	color: #6b6b6b;
}

.comment-reply-link:hover{
	color: #95B045;
}

.comment-border{
	width: 100%;
	border-bottom: 1px solid #eeeeee;
	margin: 30px 0px;
}

.comment-margin-left{
	margin-left: 48px;
}

@media only screen and (max-width: 768px){
	.comment-margin-left{
		margin-left: -15px;
	}
}

.comment-content{
	margin-top: 30px;
}

.comment-content .comment-name{
	margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
	.comment-content .comment-name{
		margin-top: 15px;
	}
}

.comment-form{
	margin-top: 30px;
}

.contact-form{
	margin-top: 0px;
}

.form-control, .form-control:focus, .form-control:active, .form-control:focus:active{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: 1px solid #eeeeee;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.form-submit #submit{
	border: none;
	background: #95B045;
	color: #ffffff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin-top: 10px;
	width: 100%;
	padding: 5px 10px;
	transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	font-size: 14px;
	line-height: 24px;
}

.form-submit #submit:hover, .form-submit #submit:focus, .form-submit #submit:active{
	background: #454545;
	color: #ffffff;
}

.comment-row{
	margin-bottom: 20px;
}

.comment-row:hover img{
	opacity: 0.8;
}

#reply-title{
	font-size: 16px;
	font-weight: normal;
	color: #6b6b6b;
}

#reply-title small{
	font-size: 16px;
}

/* COMMENTS */


/* 10. WIDGETS */
.widget-section{
	padding: 25px 0px;
}

@media only screen and (min-width: 768px){
	.widget-section .col-md-4:first-child{
		padding: 0px 35px 0px 15px;
	}
	.widget-section .col-md-4:nth-child(2n){
		padding: 0px 25px;
	}
	.widget-section .col-md-4:last-child{
		padding: 0px 15px 0px 35px;
	}
}

.widget{
	padding: 25px 0px;
}

.widget ul{
	padding: 0px;
}
.widget ul li{
	list-style: none;
	clear: both;
	padding: 5px 0px;
}

.widget_blogismo_recent_comments ul li, 
.widget_custom_posts ul li,
.widget_widget_top_author ul li{
	padding: 10px 0px;
}

.widget ul li:hover img{
	opacity: 0.8;
}

.widget ul li a{
	display: block;
}

.widget_categories li,
.widget_archive li{
	text-align: right;
}

.widget_archive li a:before,
.widget_categories li a:before,
.widget_pages li a:before,
.widget_nav_menu li a:before,
.widget_meta li a:before{
	content: "\f101";
	font-family: FontAwesome;
	margin-right: 5px;
	font-size: 12px;
}

.widget_categories li a,
.widget_archive li a{
	float: left;
}

.widget_archive li:hover > a,
.widget_categories li:hover > a,
.widget_pages li:hover > a,
.widget_nav_menu li:hover > a,
.widget_meta li:hover > a{
	margin-left: 5px;
}

.widget ul li ul{
	padding-left: 10px;
}
.widget-title-wrap{
	border-bottom: 1px solid #eeeeee;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.widget-title{
	margin: 0px;
	margin-bottom: -2px;
	padding-bottom: 15px;
	border-bottom: 3px solid #95B045;
	display: inline-block
}

.widget-image-thumb{
	display: inline-block;
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 10px;
}

.widget-image-thumb img{
	width: 60px;
	height: 60px;
}

.widget-text{
	display: inline-block;
	float: left;
	width: calc( 100% - 70px );
}

.widget-small-link, .widget-small-link:visited{
	line-height: 1.5;
	color: #777777;
}

.widget-small-link:hover{
	color: #95B045;
}

.widget_custom_posts .nav-tabs{
	border: none;
}

.widget_custom_posts .nav-tabs li{
	float: none;
	display: inline-block;
	width: 33%;
}

.widget_custom_posts .nav-tabs li a{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: 1px solid #eeeeee;
	padding: 5px 10px;
}

.widget_custom_posts .nav-tabs li a:hover, .widget_custom_posts .nav-tabs li a:active, .widget_custom_posts .nav-tabs li a:focus{
	background: #95B045;
	border-color: #95B045;
	color: #ffffff;
}
.widget_custom_posts .list-unstyled li{
	position: relative;
	clear: both;
}

.widget_widget_social .btn{
	margin-left: 2px;
	margin-bottom: 2px;
	width: 32px;
	height: 32px;
	padding: 0px;
	text-align: center;
	line-height: 31px;
}

.widget img{
	max-width: 100%;
}
#wp-calendar td{
	padding: 0px 5px;
}
/* END WIDGETS */


/* 11. SUBMIT FORMS */
.blogismo-form{
	width: 100%;
	display: block;
	position: relative;
}

.blogismo-form  input, .blogismo-form  input:focus, .blogismo-form  input:active, .blogismo-form  input:active:focus{
	border: 1px solid #eeeeee;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	width: 100%;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.blogismo-form .btn{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	line-height: 22px;
}

.sub_result{
	margin-top: 15px;
}

.alert{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
/* END SUBMIT FORMS */

/* 12. SINGLE POST SHARE */

.post-share{
	text-align: right;
	padding: 0px;
}

@media only screen and (max-width: 768px){
	.post-share{
		text-align: center;
	}	
}

.share, .share:active, .share:visited{
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 31px;
	text-align: center;
	font-size: 15px;
	color: #6b6b6b;
	border: 1px solid #eeeeee;
	margin-right: 2px;
	background: #ffffff;
}

.facebook:hover{
	background: #3b5998;
	border-color: #3b5998;
	color: #ffffff;
}

.twitter:hover{
	background: #00aced;
	border-color: #00aced;
	color: #ffffff;
}

.google:hover{
	background: #dd4b39;
	border-color: #dd4b39;
	color: #ffffff;
}

.linkedin:hover{
	background: #007bb6;
	border-color: #007bb6;
	color: #ffffff;
}

.tumblr:hover{
	background: #32506d;
	border-color: #32506d;
	color: #ffffff;
}
/* END SINGLE POST SHARE */

/* 13. ABOUT AUTHOR */
.author-info{
	width: 100%;
	margin-top: 30px;
}

.author-info img{
	width: 100%;
	margin-bottom: 15px;
}

.author-info:hover img{
	opacity: 0.8;
}
/* END ABOUT AUTHOR */

/* 14. NEXT PREV POSTS */
.right-text, .left-text{
	margin: 10px 0px;
}

.left-text{
	text-align: left;
}
.left-text a{
	text-align: left;
}
.right-text{
	text-align: right;
}
.right-text a{
	text-align: left;
}

.next-prev{
	margin-top: 35px;
}

@media only screen and (max-width: 768px) {
	.next-prev .btn{
		width: 100%;
	}
	.right-text{
		text-align: center;
		padding-bottom: 20px;
	}
	.left-text{
		text-align: center;
		padding-bottom: 20px;
	}
}
/* END NEXT PREV POSTS */


/* 15. VIDEO CONTAINER */
 .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container blockquote, .video-container embed {
    position: absolute!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
/* END VIDEO CONTAINER */

.bypostauthor{}
.gallery-caption{}

/* 16. LOADER */
.spinner-wrap{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	text-align: center;
	left: 0px;
	overflow: hidden;
	z-index: 848484;
	background: #95B045;
}

.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid #FBFBFB;
	top: 50%;
	-webkit-animation: loader 4s infinite ease;
	-moz-animation: loader 4s infinite ease;
	animation: loader 4s infinite ease;
}

.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #FBFBFB;
	-webkit-animation: loader-inner 4s infinite ease-in;
	-moz-animation: loader-inner 4s infinite ease-in;
	animation: loader-inner 4s infinite ease-in;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);		
	}

	50% {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);			
	}

	75% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);			
	}

	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);			
	}
}

@-webkit-keyframes loader {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);		
	}

	50% {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);			
	}

	75% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);			
	}

	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);			
	}
}

@keyframes loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

@-webkit-keyframes loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}
/*END LOADER */

/* 17. PAGINATION */
.pagination{
	width: 100%;
	text-align: center;
	margin: 50px 0px;
}
.pagination a.active{
	background: #454545;
	color: #ffffff;
}
/* END PAGINATION */

/* 18. GALLERY */
.gallery-item{
	position: relative;
	overflow: hidden;
}

.gallery-item img{
	width: 100%;
}

.gallery-overlay{
	color: #ffffff;
	position: absolute;
	background: rgba( 0, 0, 0, 0.6  );
	top: 3%;
	left: 3%;
	bottom: 3%;
	right: 3%;
	display: block;
	text-align: center;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.gallery-overlay i{
	font-size: 20px;
	line-height: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -10px;
}

.gallery-item:hover .gallery-overlay{
	opacity: 1;
}

.sticky {}

/* END GALLERY */

/* 19. MAIN SEARCH */
.main-search{
	position: absolute;
	top: -2000px;
	opacity: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba( 0, 0, 0,  0.5  );
	z-index: 10;
}

.main-search form{
    position: absolute;
    text-align:center;
    padding: 0px 10px;
    margin: 0;
    top: 50%;
    left: 50%;
	width: 75%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */	
}

.main-search form input{
	height: 70px;
}

.main-search form .btn{
	right: -1px;
	width: 70px;
	font-size: 20px;
	line-height: 55px;
}
/* END MAIN SEARCH */
body.home{
	
 }
 
.top-bar {background: transparent url('http://dev.unimundo21.xhtm.com.br/wordpress/wp-content/uploads/2015/05/tronco_normal.jpg');
background-repeat: no-repeat;
background-position: top left;
background-attachment: fixed;
}
/* header */
.page.page-id-2 .blog-title p { font-weight:normal; }
.top-bar img { display:block; margin:0 auto 50px; }
.container iframe, .container object, .container video { display:block; margin:0 auto; }
.container video.mobile { display:none; }
#barrauol2011.buol2011 ul li{line-height:normal !important;}
/*.container object { display:none; }*/
/* Social */
.social { float:right; margin-top:20px; }
.social a { display:inline-block; width:29px; height:29px; background:url(images/sprite.png) no-repeat; margin-right:20px; }
.social .tw { background-position:-34px 0 }
.social .instagram { background-position:-67px 0 }

/* Single */
.single .widget-section { margin:0!important; }

/* footer */
footer { padding:1px 0 30px; background:#000; text-align:center; }
footer .container { max-width:500px; }
.fb-page { margin-bottom:50px; }
.fb-page.mobile { display:none; }
footer p { width:420px; margin:0 auto; color:#fff; }
footer img { display:block; margin:0 auto 30px; max-width:180px; }
footer .social { float:none; }
footer .elav { display:inline-block; float:right; width:36px; height:10px; background:url(images/logo_elav.png) 25px 0 no-repeat; }
footer .elav:hover { background-position:-1px -10px; }

/* Banners */
#banner-728x90, #banner-728x90-2, #banner-300x250 { overflow:hidden; }
#banner-728x90, #banner-728x90-2 { width:728px; height:90px; margin:30px auto 0; position: relative; }
#banner-728x90.bottom, #banner-728x90-2.bottom { margin-bottom:30px; }
#banner-300x250 { width:300px; height:250px; margin:90px auto 0; }
.widget .fb-page { display:block; width:323px; margin:0 auto; }

/* NAV */
.next-prev a{ color:#FFF !important; }

/* galeria */
.gallery-overlay {
  background: rgba( 0,0,0, 0.6 ) !important;
}

/* Media querie */
@media(max-width:991px){
	.container object { display:none; }
	.container video.mobile { display:block; }
	#banner-300x250 { margin:0 auto; }
}
@media (max-width:767px) {
	footer { padding:50px 0 30px; }
	.fb-page.mobile { display:block; }
	.fb-page.web { display:none; }
	.top-bar { min-height:500px; }
	.social { float:none; }
	h1 .logo { width:60%; height:auto; }
	#banner-728x90 { display:none!important; }
	.post-content { margin-top:50px; }
}

@media (max-width:590px) {
	.top-bar { min-height:450px; }
}

@media (max-width:480px) {
	footer p { width:auto; padding:0 20px; }
	.top-bar { min-height:400px; }
}

@media (max-width:430px) {
	.top-bar { min-height:350px; }
}

/* Campo de newsletter / Footer */
#mc_embed_signup { background: transparent; }
#mc_embed_signup #mc-embedded-subscribe-form { padding: 0px; width: 300px; margin: 80px auto 20px auto; text-align: center; }
#mc_embed_signup #mc-embedded-subscribe-form #mce-EMAIL { width: 100%; color: black; }
#mc_embed_signup #mc-embedded-subscribe-form #mc-embedded-subscribe { margin-left: 32.5%; }
#mc_embed_signup_scroll { width: 240px; left: 50%; position: relative; transform: translateX(-50%); -webkit-transform: translateX(-50%); }
.single #mc_embed_signup_scroll{ display: none; }
